# ===========================
# DATABASE CONFIG (MariaDB)
# ===========================
DB_ENGINE=mariadb
DB_HOST=185.212.70.103
DB_PORT=3306
DB_USER=u376292026_riesgos365
DB_PASSWORD=CAMBIAR_ESTE_PASSWORD
DB_NAME=u376292026_senialesalerta

# ===========================
# JWT CONFIG
# ===========================
JWT_SECRET=CAMBIAR_ESTE_SECRET
JWT_ALGORITHM=HS256

# ===========================
# TEMPORARY FILES
# ===========================
TEMP_FOLDER=/tmp/rta
